.layoutitem {
  position: relative;

  &__edit,
  &__delete,
  &__duplicate {
    display: inline-block;
    cursor: pointer;
  }

  &--no-hover.react-hover {
    // border: 1px solid #999;
    background-color: #cff;
    cursor: move;
    opacity: 1;
  }

  &--hover.react-hover {
    border: 1px solid transparent;
    opacity: 1;
  }

  &--hover {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
  }

  &--no-hover {
    opacity: 1;
  }
}
