// FIX: original CSS breaks callouts view.
center {
  width: 100%;
  min-width: inherit;
}

// Try to not force a fixed height for images imported from the website into
// the newsletter
img {
  height: auto !important;
}

// FIX for bug in react-inky callouts
table.callout {
  margin-bottom: $callout-margin-bottom;
  Margin-bottom: $callout-margin-bottom;

  th.callout-inner {
    width: 100%;
    border: $callout-border;
    padding: $callout-padding;
    background: $callout-background;
  }

  &.primary th.callout-inner {
    background: scale-color($primary-color, $lightness: $callout-background-fade);
    border: $callout-border-secondary;
    color: $black;
  }

  &.secondary th.callout-inner {
    background: scale-color($secondary-color, $lightness: $callout-background-fade);
    border: $callout-border-secondary;
    color: $black;
  }

  &.warning th.callout-inner {
    background: scale-color($warning-color, $lightness: $callout-background-fade);
    border: $callout-border-warning;
    color: $white;
  }
}

.full-bleed-wrapper-2 img {
  max-width: 100%
}
